<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy3pkmrqQz3lWYPr0b6NVoca1j5huU0Oo</string>
	<key>GCM_SENDER_ID</key>
	<string>328160076358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rooh.almuslim</string>
	<key>PROJECT_ID</key>
	<string>rooh-almuslim</string>
	<key>STORAGE_BUCKET</key>
	<string>rooh-almuslim.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328160076358:ios:db9a9b5e809ff250c06047</string>
</dict>
</plist>